{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="{% static '/css/semantic.css' %}">
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/semantic.js' %}"></script>
</head>
<body>
    <!--    top memu-->
    <div class="ui attached stackable menu">
      <div class="ui container">
        <a class="item" href="login">
          <i class="home icon"></i> 登录
        </a>
        <a class="disabled item">
          <i class="info icon"></i> 录入数据
        </a>
        <div class="ui disabled  simple dropdown item">
            <i class="ui facebook icon"></i>
            识别人脸
            <i class="dropdown icon"></i>
          <div class="menu">
            <a class="disabled item"><i class="edit icon"></i> 识别图中人脸</a>
            <a class="disabled item"><i class="globe icon"></i> 识别视频中人脸</a>
            <a class="disabled item"><i class="settings icon"></i> 退出账号</a>
          </div>
        </div>
          <!--
        <div class="right item">
          <div class="ui input"><input type="text" placeholder="请登录..."></div>
        </div>
        -->
      </div>
    </div>
    <!--content-->
    <div class="ui  vertical container segment" >
        <!--header-->
        <div class="ui  center aligned grid ">
            <h2 class="ui teal image header">
                <img src="../static/images/mini cloud.jpg" class="image">
                <div class="content">Sign in to FaceRecog</div>
            </h2>
        </div>
        <!--form-->
        <div class="ui one column centered grid" >
                <div c class="ui column"style="width: 400px; ">
                        <div class="ui small  container teal segment" >
                        <form class="ui form" action="/regist_submit" method="get">
                            <h4 class="ui dividing header">用户信息</h4>
                            <div class="required field">
                                <label>Username or email address</label>
                                <input type="text" name="username"  placeholder="请输入用户名">
                            </div>
                            <div class="required field">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="请输入密码">
                            </div>
                            <div class="required field">
                                <label>Password Confirm</label>
                                <input type="password" name="password_confirm" placeholder="请确认密码">
                          </div>
                            <button class="ui fluid large teal submit button" href="regist_submit">Submit</button>
                            <div class="ui error message">
                                <ul class="list">
                                    <li>Please put the same value in both fields</li>
                                    <li>Please put different values for each field</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <script>
        $('.ui.form')
          .form({
            fields: {
              username: {
                identifier: 'username',
                rules: [
                  {
                    type   : 'empty',
                    prompt : 'Please enter a username'
                  },
                    {
                    type   : 'minLength[4]',
                    prompt : 'Your user name must be at least {ruleValue} characters'
                  }
                ]
              },
              password: {
                identifier: 'password',
                rules: [
                  {
                    type   : 'empty',
                    prompt : 'Please enter a password'
                  },
                  {
                    type   : 'minLength[6]',
                    prompt : 'Your password must be at least {ruleValue} characters'
                  }
                ]
              },
              password_confirm: {
                identifier: 'password_confirm',
                rules: [
                  {
                    type   : 'match[password]',
                    prompt : 'Please enter the same password to confirm'
                  },
                  {
                    type   : 'minLength[6]',
                    prompt : 'Your password must be at least {ruleValue} characters'
                  }
                ]
              }
            }
          })
        ;
    </script>
</body>
</html>